.fullPage {
  height: 100vh;
  width: 100vw;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: linear-gradient(135deg, #be4bdb 25%, transparent 25%),
    linear-gradient(225deg, #be4bdb 25%, transparent 25%),
    linear-gradient(45deg, #be4bdb 25%, transparent 25%),
    linear-gradient(315deg, #be4bdb 25%, #e5e5f7 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
}

.chevron {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("../public/pattern.png");
}

.panel {
  width: 40%;
}

@media (max-width: 480px) {
  .fullPage {
    padding: 20px;
  }
  .panel {
    width: 100%;
    place-self: center;
    border-radius: 20px;
  }
}
